<?xml version="1.0"?>
<robot name="r2" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931" />
	<xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro" />

	<link name="base_link">
		<visual>
			<origin xyz="0.09 -0.02 0.07" rpy="${PI} 0 ${-PI/2}"/>
			<geometry>
				<mesh filename="package://wild_thumper/meshes/wild_thumper_assembly_corrected.stl" scale="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>

	<link name="base_footprint">
		<visual>
			<geometry>
				<box size="0.28 0.31 0.0"/>
			</geometry>
			<material name="grey">
				<color rgba="0.5 0.5 0.5 0.5"/>
			</material>
		</visual>
	</link>

	<link name="base_imu_link">
		<visual>
			<geometry>
				<box size="0.041 0.028 0.002"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>

	<xacro:asus_camera name="camera" parent="base_link">
		<origin xyz="0.107 0.0 0.04" rpy="0 0 0"/>
	</xacro:asus_camera>

	<joint name="imu_joint" type="fixed">
		<parent link="base_link"/>
		<child link="base_imu_link"/>
		<origin xyz="0.06 -0.03 0.058" rpy="0 0 0"/>
	</joint>

	<joint name="base_link_joint" type="fixed">
		<parent link="base_footprint"/>
		<child link="base_link"/>
		<origin xyz="0.0 0.0 0.13" rpy="0 0 0"/>
	</joint>
</robot>
