<?xml version="1.0"?>
<launch>
	<node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

	<node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen">
		<param name="frequency" type="double" value="2.0"/>
		<!-- Should be less than sensor range -->
		<param name="goal_aliasing" type="double" value="1.0"/>

		<rosparam file="$(find wild_thumper)/config/costmap_common_params.yaml" command="load" ns="explore_costmap" />
		<rosparam file="$(find wild_thumper)/config/costmap_exploration.yaml" command="load" ns="explore_costmap" />
	</node>
</launch>
