<?xml version="1.0"?>
<launch>
	<node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick" respawn="true">
		<param name="scale_linear" value="0.2"/>
		<param name="scale_angular" value="-0.2"/>
		<param name="axis_deadman" value="3"/>
		<param name="axis_linear" value="1"/>
		<param name="axis_angular" value="0"/>
	</node>

	<node pkg="wiimote" type="wiimote_node.py" name="wiimote" respawn="true" />
</launch>
