<?xml version="1.0"?>
<launch>
	<arg name="use_imu" default="true"/>

	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

	<param name="robot_description" command="$(find xacro)/xacro.py $(find wild_thumper)/urdf/wild_thumper.urdf.xacro"/>

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" value="20.0" />
	</node>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>

	<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" output="screen">
		<rosparam command="load" file="$(find wild_thumper)/config/analyzers.yaml"/>
	</node>

	<node pkg="wild_thumper" type="wt_node.py" name="wild_thumper" output="screen" respawn="false" required="true">
		<param name="enable_odom_tf" value="true" unless="$(arg use_imu)"/>
		<param name="enable_odom_tf" value="false" if="$(arg use_imu)"/>
	</node>

	<node pkg="wild_thumper" type="tinkerforge_imu2.py" name="tinkerforge_imu_brick2" output="screen">
		<param name="uid" value="6DdNSn"/>
	</node>

	<node pkg="gpsd_client" type="gpsd_client"  name="gpsd_client" output="screen">
		<param name="use_gps_time" value="false"/>
	</node>

	<include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
		<arg name="config_file" value="$(find wild_thumper)/config/cmd_vel_mux.yaml" />
		<arg name="nodelet_manager_name" value="nodelet_manager" />
	</include>

	<include file="$(find wild_thumper)/launch/robot_localization.launch" if="$(arg use_imu)"/>
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" output="screen">
		<param name="magnetic_declination_radians" value="0.047"/>
		<param name="yaw_offset" value="1.5708"/>
		<param name="zero_altitude" value="true"/>
		<param name="broadcast_utm_transform" value="true"/>

		<remap from="/imu/data" to="imu"/>
		<remap from="/gps/fix" to="fix" />
		<remap from="/odometry/filtered" to="odom_combined"/>
		<remap from="/odometry/gps" to="gps"/>
	</node>
</launch>
